body{
    background-color: #222;
    color: lightgrey;
    font-size: 28px;
    font-family: 'PT Mono', monospace;
}
#container{
    width: 900px;
    padding-top: 50px;
    margin: auto;
    #board{
        width: 900px;
        margin: 50px 0;
        text-align: center;
        font-size: 48px;
        min-height: 60px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    #state, #alphabet{
        float: left;
        width: 450px;
        text-align: center;
    }
    #state{
        min-height: 280px;
    }
    #alphabet{
        min-height: 280px;
        .letter{
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            padding: 5px;
            margin: 5px;
            border: 3px solid lightgrey;
            float: left;
            cursor: pointer;
            border-radius: 15px;
            transition: .2s;
        }
        .active_letter:hover{
            transition: .2s;
            background: black;
            transform: scale(1.15);
        }
        .reset{
            padding: 5px;
            border: 2px solid white;
            border-radius: 20px;
            cursor: pointer;
            font-size: 48px;
            transition: .2s;
        }
        .reset:hover{
            transition: .2s;
            transform: scale(1.1);
        }
    }
}
footer{
    width: 99%;
    font-size: 80%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    i{
        font-size: 30px;
    }
}